$primary-color: #777;
$accent-color: #ff652f;
$text-color: #fff;
$secondary-color: #e5d68a;
// Maps in SCSS
$font-weight: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$hover-color: #6ac47e;
