// Import the reset files, variables etc

@import "./resets";
@import "./variables";

body {
  background-color: $primary-color;
  color: $text-color;
  // Map get feature in SCSS

  // font-weight: map-get($font-weight, bold);
  // font-weight: map-get($font-weight, bold);
}

// Functions in SCSS
@function weight($weight-name) {
  @return map-get($font-weight, $weight-name);
}

// Mixin in SCSS
@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

.main {
  color: $secondary-color;
  font-weight: weight(medium);
  // @include flexCenter(column-reverse);

  @include flexCenter(column);

  // Nesting in SCSS
  // p {
  //   color: $accent-color;
  //   font-weight: weight($font-weight, bold);
  // }

  // Demo / Reference Purpose

  // .main__paragraph {
  //   color: $accent-color;
  //   font-weight: weight($font-weight, bold);
  // }

  // Here & is parent in SCSS
  // &__paragraph {
  //   color: $accent-color;
  //   font-weight: weight($font-weight, bold);
  // }

  // Interpolation as we want everything before &

  #{&}__paragraph {
    color: $accent-color;
    font-weight: weight(normal);

    &:hover {
      color: $hover-color;
      font-weight: weight(bold);
    }
  }
}
